@model List<AboutUs>

@{
    ViewData["Title"]= "درباره ما";
}

<div class="bg-white shadow-large lg:my-10 mx-5 rounded-xl md:rounded-2xl p-3 md:p-5 border">
    <div class="relative flex justify-center items-center mb-5">
        <img class="w-full h-96 md:h-[500px] object-center object-cover rounded-xl blur-sm" src="./assets/image/workspace.jpg" alt="">
        <div class="absolute top-0 bg-zinc-400 bg-opacity-50 w-full h-full flex justify-center items-center text-white font-semibold rounded-xl">
            <div class="text-center space-y-5">
                <div class="text-3xl sm:text-3xl md:text-5xl">سورنا تقدیم می کند</div>
                <div class="text-xl sm:text-2xl md:text-4xl">به شرکت مهندسی و فروشگاهی  سورنا خوش آمدید</div>
            </div>
        </div>
    </div>
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="leading-10">
                <div class="text-zinc-700" style="line-height: 1.8rem;">
                    @item.AboutMe
                </div>
            </div>
        }
    }
    else
    {
        <div class="leading-10">
           <partial name="_AlertNotRecord"/>
        </div>
    }

</div>