@model List<AboutUs>
@{
    ViewData["Title"] = "تماس با ما";
}

<div class="bg-white shadow-large lg:my-10 mx-5 rounded-xl md:rounded-2xl p-3 md:p-5 border">
    <div class="flex justify-center items-center lg:my-0">
        <div class="content-center px-4 my-8">
            <div class="text-center mb-2 text-zinc-700 text-lg font-semibold">
                با خیال راحت با تیم پشتیبانی سورنا ارتباط برقرار کنید
            </div>
            <div class="text-center text-zinc-600 text-sm">
                اطلاعات فرم را پر کنید تا کارشناسان ما با شما تماس بگیرند
            </div>
        </div>
    </div>
    <div class="container mx-auto md:px-6 mb-8">
        <!-- Section: Design Block -->
        <section>
            <div class="relative h-[300px] overflow-hidden bg-cover bg-[50%] bg-no-repeat rounded-md" style="background-image: url(./assets/image/bgConatactUs.jpg);"></div>
            <div class="container px-6 md:px-12">
                <div class="block rounded-lg bg-[hsla(0,0%,100%,0.8)] px-6 py-12 shadow-lg md:py-16 md:px-12 -mt-24 backdrop-blur-xl">
                    <div class="flex flex-wrap">
                        <div class="mb-12 w-full shrink-0 grow-0 basis-auto md:px-3 lg:mb-0 lg:w-5/12 lg:px-6">
                            <form>
                                <div class="relative mb-6">
                                    <input type="text" class="peer text-right block min-h-[auto] w-full rounded border border-zinc-300 bg-transparent py-2 px-3 leading-6 outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none [&amp;:not([data-te-input-placeholder-active])]:placeholder:opacity-0" id="exampleInput90" placeholder="نام">
                                    <label class="pointer-events-none absolute top-0 right-3 mb-0 max-w-[90%] origin-[0_0] truncate pt-2 leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none" for="exampleInput90">
                                        نام
                                    </label>
                                </div>
                                <div class="relative mb-6">
                                    <input type="email" class="peer text-right block min-h-[auto] w-full rounded border border-zinc-300 bg-transparent py-2 px-3 leading-6 outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none [&amp;:not([data-te-input-placeholder-active])]:placeholder:opacity-0" id="exampleInput90" placeholder="ایمیل">
                                    <label class="pointer-events-none absolute top-0 right-3 mb-0 max-w-[90%] origin-[0_0] truncate pt-2 leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none" for="exampleInput90">
                                        ایمیل
                                    </label>
                                </div>
                                <div class="relative mb-6">
                                    <textarea class="peer block min-h-[auto] w-full rounded border border-zinc-300 bg-transparent py-[0.32rem] px-3 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none [&amp;:not([data-te-input-placeholder-active])]:placeholder:opacity-0" id="exampleFormControlTextarea1" rows="3" placeholder="Your message"></textarea>
                                    <label for="exampleFormControlTextarea1" class="pointer-events-none absolute top-0 right-3 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none">
                                        متن پیام
                                    </label>
                                </div>
                                <div class="mb-6 inline-block justify-center items-center pl-[1.5rem] md:flex gap-x-2">
                                    <input class="relative w-4" type="checkbox" value="" id="exampleCheck96">
                                    <label class="inline-block hover:cursor-pointer" for="exampleCheck96">
                                        اخبار جدید را به من ارسال کن
                                    </label>
                                </div>
                                <a href="" class="w-full inline-block py-3 px-10 text-sm bg-blue-500 hover:bg-blue-400 transition text-gray-100 rounded-xl text-center">
                                    ارسال
                                </a>
                            </form>
                        </div>
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-5 gap-y-10 h-fit w-full lg:w-7/12">
                            @if (Model.Any())
                            {
                                foreach (var item in Model)
                                {
                                    <div class="flex items-center gap-x-1 bg-white text-blue-600 px-3 py-3 rounded-lg shadow-md">
                                        <svg class="fill-white bg-blue-500 p-1 rounded-md h-8 w-8 md:h-10 md:w-10 ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><path d="M222.37,158.46l-47.11-21.11-.13-.06a16,16,0,0,0-15.17,1.4,8.12,8.12,0,0,0-.75.56L134.87,160c-15.42-7.49-31.34-23.29-38.83-38.51l20.78-24.71c.2-.25.39-.5.57-.77a16,16,0,0,0,1.32-15.06l0-.12L97.54,33.64a16,16,0,0,0-16.62-9.52A56.26,56.26,0,0,0,32,80c0,79.4,64.6,144,144,144a56.26,56.26,0,0,0,55.88-48.92A16,16,0,0,0,222.37,158.46ZM176,208A128.14,128.14,0,0,1,48,80,40.2,40.2,0,0,1,82.87,40a.61.61,0,0,0,0,.12l21,47L83.2,111.86a6.13,6.13,0,0,0-.57.77,16,16,0,0,0-1,15.7c9.06,18.53,27.73,37.06,46.46,46.11a16,16,0,0,0,15.75-1.14,8.44,8.44,0,0,0,.74-.56L168.89,152l47,21.05h0s.08,0,.11,0A40.21,40.21,0,0,1,176,208Z"></path></svg>
                                        <span class="inline-block text-sm">
                                            شماره تماس شرکت:
                                        </span>
                                        <span class="inline-block text-xs">
                                            @item.Phone
                                        </span>
                                    </div>
                                    <div class="flex items-center gap-x-1 bg-blue-500 text-white px-3 py-3 rounded-lg shadow-md">
                                        <svg class="fill-blue-500 bg-white p-1 rounded-md h-8 w-8 md:h-10 md:w-10 ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><path d="M128,24a104,104,0,0,0,0,208c21.51,0,44.1-6.48,60.43-17.33a8,8,0,0,0-8.86-13.33C166,210.38,146.21,216,128,216a88,88,0,1,1,88-88c0,26.45-10.88,32-20,32s-20-5.55-20-32V88a8,8,0,0,0-16,0v4.26a48,48,0,1,0,5.93,65.1c6,12,16.35,18.64,30.07,18.64,22.54,0,36-17.94,36-48A104.11,104.11,0,0,0,128,24Zm0,136a32,32,0,1,1,32-32A32,32,0,0,1,128,160Z"></path></svg>
                                        <span class="inline-block text-sm">
                                            ایمیل:
                                        </span>
                                        <span class="inline-block text-xs">
                                            @item.Email
                                        </span>
                                    </div>
                                    <div class="flex items-center gap-x-1 bg-blue-500 text-white px-3 py-3 rounded-lg shadow-md">
                                        <svg class="fill-blue-500 bg-white p-1 rounded-md h-8 w-8 md:h-10 md:w-10 ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><path d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm64-88a8,8,0,0,1-8,8H128a8,8,0,0,1-8-8V72a8,8,0,0,1,16,0v48h48A8,8,0,0,1,192,128Z"></path></svg>
                                        <span class="inline-block text-sm">
                                            ساعت پاسخگویی:
                                        </span>
                                        <span class="inline-block text-xs">
                                            8 تا 23
                                        </span>
                                    </div>
                                    <div class="flex items-center gap-x-1 bg-white text-blue-600 px-3 py-3 rounded-lg shadow-md">
                                        <svg class="fill-white bg-blue-500 p-1 rounded-md h-8 w-8 md:h-10 md:w-10 ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><path d="M128,64a40,40,0,1,0,40,40A40,40,0,0,0,128,64Zm0,64a24,24,0,1,1,24-24A24,24,0,0,1,128,128Zm0-112a88.1,88.1,0,0,0-88,88c0,31.4,14.51,64.68,42,96.25a254.19,254.19,0,0,0,41.45,38.3,8,8,0,0,0,9.18,0A254.19,254.19,0,0,0,174,200.25c27.45-31.57,42-64.85,42-96.25A88.1,88.1,0,0,0,128,16Zm0,206c-16.53-13-72-60.75-72-118a72,72,0,0,1,144,0C200,161.23,144.53,209,128,222Z"></path></svg>
                                        <span class="inline-block text-sm">
                                            آدرس حضوری:
                                        </span>
                                        <span class="inline-block text-xs">
                                            @item.Address
                                        </span>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="leading-10">
                                    <partial name="_AlertNotRecord" />
                                </div>
                            }
                            
                            
                            
                           
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section: Design Block -->
    </div>
</div>