

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>پنل ادمین</title>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body class="max-w-[1600px] mx-auto bg-[#fcfcfc]">
    
    <!-- header  -->

    <header class="fixed w-full max-w-[1600px] border-b z-50 bg-white">
        <partial name="_Header" />
    </header>

    <main class="pt-20 md:pt-40 lg:pt-[73px]">
        <div class="lg:my-10 mx-5 p-3 md:p-5 md:flex gap-5">
            <!-- RightSideBar  -->
            <partial name="_RightSideBar" />

            <!-- Content  -->

            <div class="md:w-9/12 bg-white shadow-large rounded-2xl p-5 mt-5 md:mt-0">
                @RenderBody()
            </div>

        </div>
    </main>

    <!-- Footer  -->
    <footer class="rounded-t-2xl border shadow-xl mt-5 py-5 mx-3 bg-white">
        <partial name="_Footer" />
    </footer>

    <script src="/assets/js/main.js"></script>
    @RenderSection("Scripts",false)

</body>
</html>