
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="/assets/css/main.css">

</head>
<body class="max-w-[1600px] mx-auto bg-[#fcfcfc]">

    <!-- header  -->

    <header class="fixed w-full max-w-[1600px] border-b z-50 bg-white">
        <partial name="_Header" />
    </header>

    <main class="pt-20 md:pt-40 lg:pt-[73px]">
        @RenderBody()

    </main>

    <!-- footer  -->

    <footer class="rounded-t-2xl border shadow-xl mt-5 py-5 mx-3 bg-white">
        <partial name="_Footer" />
    </footer>


    <script src="/assets/js/main.js"></script>

    <!-- HERO SLIDER -->
    <script src="/assets/js/swiper.min.js"></script>
    <script src="/assets/js/sliders.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</body>

</html>