@model User


    <div class="">
        <div class="text-zinc-800 text-lg mb-4 font-semibold">
            جزئیات کاربر:
        </div>
        <!-- product -->
        <div class="mt-7 flex flex-col md:flex-row border-b pb-4">
            
            <div class="mr-2 md:mr-5 w-full">
                <!-- title -->
                <div class="text-xs sm:text-sm text-zinc-700">
                <label class="text-yellow-500" asp-for="Name"></label><span class="text-yellow-500">:</span><br />
                    @Model.Name
                </div>

            <div class="text-xs sm:text-sm text-zinc-700">
                <label class="text-yellow-500" asp-for="Family"></label><span class="text-yellow-500">:</span><br />
                @Model.Family
            </div>

            <div class="text-xs sm:text-sm text-zinc-700">
                <label class="text-yellow-500" asp-for="UserName"></label><span class="text-yellow-500">:</span><br />
                @Model.UserName
            </div>

            <div class="text-xs sm:text-sm text-zinc-700">
                <label class="text-yellow-500" asp-for="Adress"></label><span class="text-yellow-500">:</span><br />
                @Model.Adress
            </div>

            <div class="text-xs sm:text-sm text-zinc-700">
                <label class="text-yellow-500" asp-for="RoleId"></label><span class="text-yellow-500">:</span><br />
                @if (Model.RoleId == 1)
                {
                    <span class="text-green-600">ادمین</span>
                }
                else
                {
                    <span class="text-green-600">کاربر عادی</span>

                }
            </div>

            <div class="text-xs sm:text-sm text-zinc-700">
                <label class="text-yellow-500" asp-for="IsActive"></label><span class="text-yellow-500">:</span><br />
                @if (Model.IsActive == true)
                {
                    <span class="text-green-600">فعال</span>
                }
                else
                {
                    <span class="text-red-500">غیر فعال</span>

                }
            </div>
               
            </div>
        </div>
    <a asp-area="Admin" asp-action="Index" asp-controller="Users" class="mx-auto w-1/3 px-2 py-3 mt-8 text-sm bg-red-500 hover:bg-red-400 transition text-gray-100 rounded-lg">بازگشت</a>

</div>
